/*
    Main styling is based on Bootstrap.
    This file contains overrides and extras.
*/
label.wrapping {
    width: 100%;
}

.rowButtons a {
    float: right;
    margin-left: 10px;
}

.small-icon {
    width: 14px;
    height: 14px;
}

#main {
    margin-top: 10px;
}

